@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  height: 100%;
  font-family: "Space Grotesk", sans-serif;
}

.credit-card--container {
}

@media only screen and (max-width: 600px) {
  .credit-card--container {
    height: 240px;
    width: 100%;
    min-width: 340px;

    position: relative;

    background: url("../images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .credit-card--container img {
    z-index: 0;
    max-width: 280px;
  }

  .credit-card--back {
    position: absolute;
    bottom: 0;

    transform: translate(10%, -26%);
  }

  .credit-card--front {
    position: absolute;
    bottom: 0;

    transform: translate(-10%, 30%);
  }

  .cvv-code--container {
    z-index: 1;
    position: absolute;

    width: 225px;
    padding-right: 10px;

    font-size: 12px;
    color: #fff;

    transform: translate(13%, 3px);

    text-align: end;
  }

  .white-icon {
    z-index: 1;
    position: absolute;

    background-color: #fff;

    width: 32px;
    height: 32px;

    border-radius: 100%;

    transform: translate(-135px, 45px);
  }

  .tansparent-icon {
    z-index: 1;
    position: absolute;

    outline: solid 1px #fff;

    width: 15px;
    height: 15px;

    border-radius: 100%;

    transform: translate(-98px, 45px);
  }

  .credit-card-number {
    z-index: 1;
    position: absolute;

    width: 280px;

    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;

    color: #fff;

    transform: translate(-28px, 100px);
  }

  .credit-card-owner-name {
    z-index: 1;
    position: absolute;

    width: 180px;

    text-align: start;
    font-size: 10px;
    letter-spacing: 2px;

    color: #fff;

    transform: translate(-55px, 140px);
  }

  .credit-card-exp-date {
    z-index: 1;
    position: absolute;

    width: 180px;

    text-align: start;
    font-size: 11px;
    letter-spacing: 2px;

    color: #fff;

    transform: translate(145px, 140px);
  }
}
